name: Looker Janitor
on:
    pull_request:
        types:  [opened, synchronize]

jobs:
    run-looker-janitor:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        steps:
            - name: Run Looker Janitor
              id: looker_janitor
              uses: alhankeser/looker-janitor-action@v0.3.7
              with:
                check_required_params: true
                required_dimension: |
                  hidden
                  type
